<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AmplitudeAPIKey</key>
	<string>$(AMPLITUDE_API_KEY)</string>
	<key>BaseURL</key>
	<string>$(BASE_URL)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>ko_KR</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.winey.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WINEY</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(BUNDLE_VERSION_STRING)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_URL_KEY)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(KAKAO_URL_KEY)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(BUNDLE_VERSION_SHORT)</string>
	<key>FakeUserID</key>
	<string>$(FAKE_USER_ID)</string>
	<key>FakeUserToken</key>
	<string>$(FAKE_USER_TOKEN)</string>
	<key>GIDClientID</key>
	<string>$(GOOGLE_API_KEY)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>KakaoAPIKey</key>
	<string>$(KAKAO_API_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NMFClientId</key>
	<string>$(NAVER_CLIENT_ID)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>example.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>와인 후기를 남기기 위한 용도의 촬영을 위해 앱에서 사용자의 카메라에 접근할 수 있도록 접근 권한이 필요합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>사용자의 위치 기반으로 와인 상점 정보를 제공하기 위해 사용자의 위치 정보가 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>와인 후기를 남기기 위해 사용자의 사진을 선택할 수 있도록 사진 갤러리에 접근 권한이 필요합니다.</string>
	<key>UIAppFonts</key>
	<dict>
		<key>Item 0</key>
		<string>Pretendard-Medium.otf</string>
		<key>Item 1</key>
		<string>Pretendard-Bold.otf</string>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
</dict>
</plist>
